/* Variables */
/* Global */
body {
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body a {
  color: #fff;
  text-decoration: none;
}

body a:hover {
  color: #fed136;
}

/* Splash & Nav */
.splash {
  height: 100vh;
  background-image: url("/images/bg.png");
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 40px;
  padding: 20px 20px;
}

.splash .row .logo {
  color: #fed136;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: #fed136;
  letter-spacing: 1.3px;
}

.splash .row .nav {
  width: 650px;
}

.splash .row .nav li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}

.items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 40px 40px;
  padding: 20px 20px;
}

.items .welcome {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: italic;
  letter-spacing: -1px;
}

.items .nice {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 85px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.btn .btn-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 240px;
  height: 65px;
  background-color: #fed136;
  border-radius: 1px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  transition: all 1s;
}

.btn .btn-item:hover {
  color: #fff;
}

.services {
  background: #fff;
}

.services .column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 80px 40px;
  padding: 20px 20px;
}

.services .column .section-title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
}

.services .column .section-subtitle {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 20% 40px 20%;
}

.row .box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.row .box .box-image {
  border-radius: 100%;
  box-sizing: border-box;
  border: 3px solid #fed136;
  height: 70px;
  width: 70px;
}

.row .box .box-image img {
  padding: 10px 0 0 10px;
  height: 42px;
  width: 42px;
}

.row .box .box-title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 50px 0 0 20px;
}

.row .box p {
  width: 275px;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  margin: 20px 0 0 20px;
}
/*# sourceMappingURL=style.css.map */