/* Bootstrap */
@import "../vendor/bootstrap-grid.scss";


/* Variables */
$font-logo: 'Leckerli One', cursive;
$font-one: 'Open Sans', sans-serif;
$font-two: 'Roboto', sans-serif;

$color-one: #fed136;
$color-two: #777;
$color-light: #fff;
$color-dark: #000;

/* Global */

body {
    margin: 0;
    color: $color-dark;
    font-family: $font-two;
    font-size: 16px;
    a {
        color: $color-light;
        text-decoration: none;
        &:hover {
            color: $color-one;
        }
    }
}

/* Splash & Nav */
.splash {
    height: 100vh;
    background-image: url("/images/bg.png");
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 40px;
        padding: 20px 20px;
        .logo {
            color: $color-one;
            color: $color-light;
            font-family: $font-logo;
            font-size: 26px;
            color: $color-one;
            letter-spacing: 1.3px;
        }
        .nav {
            width: 650px;
            li {
                display: inline-block;
                margin-right: 36px;
                position: relative;
            }
        }
    }
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;
    padding: 20px 20px;
    .welcome {
        color: $color-light;
        font-family: $font-one;
        font-size: 50px;
        font-style: italic;
        letter-spacing: -1px;
    }
    .nice {
        color: $color-light;
        font-family: $font-two;
        font-size: 85px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.88px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 65px;
        background-color: $color-one;
        border-radius: 1px;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        border-width: 2px;
        transition: all 1s; }
        .btn-item:hover {
            color: $color-light;
    }
}

.services {
    background: $color-light;
    margin: 40px 20px;
    padding: 20px 20px;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 20px;
        padding: 20px 20px;
        .section-title {
            color: $color-dark;
            font-family: $font-two;
            font-size: 50px;
            font-weight: 700;
            letter-spacing: -1px;
            margin: 0;
        }
        .section-subtitle {
            color: $color-two;
            font-family: $font-two;
            font-size: 18px;
            font-style: italic;
        }
    }
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
        padding: 20px 20px;
        i {
            text-align: center;
            font-size: 40px;
            background: $color-light;
            color: $color-one;
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 50%;
            border: 3px solid;
        }
    }
    .box-text {
        text-align: center;
        h3 {
            font-size: 25px;
            font-weight: 700;
        }
        p {
            font-size: 18px;
            color: $color-two;
        }
    }
}



